.box{
    background-color: #a5a5ec;
}
#vehicleTable{
}
#vehicleTableHead{
    background: grey;
    text-align: left;
}
.deleteLink,.updateLink, .bookLink{
    text-decoration-line: none;
    text-align: center;
    color: black;
}
.deleteLink{
    background-color: #832c2c;
}
.updateLink{
    background-color: deepskyblue;
}
.bookLink{
    background-color: lightgrey;
}