<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookingform</title>
    <link th:href="@{~/css/basic.css}" rel="stylesheet">
    <link th:href="@{~/css/add-booking.css}" rel="stylesheet">
</head>
<body>
<h1>Bookingform</h1>
<div class="box">
    <form th:action="@{/save-booking}" th:object="${booking}" method="post" class="form" id="vehicleBookingform">
        <label class="formLabel">Date for booking</label>
        <input type="date" th:field="*{date}" class="field"/><br>

        <label class="formLabel">Choose vehicle</label>
        <!-- Selection from a list -->
        <select th:field="*{vehicleId}">
                <option th:each="vehicle:${vehicles}" th:value="${vehicle.getVehicleId()}" th:text="${vehicle.getName()}"/>
        </select><br>

        <button class="submitBtn" type="submit">Submit</button>
    </form>
</div>

</body>
</html>