<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:href="@{~/css/basic.css}" rel="stylesheet">
    <link th:href="@{~/css/menu.css}" rel="stylesheet">

</head>
<header class="container">
    <nav>
        <div class="mainMenu">
            <ul>
                <li><a th:href="@{/admin}">Home</a></li>
                <li><a th:href="@{/admin/customers}">Customers</a></li>
                <li><a th:href="@{/admin/vehicles}">Vehicles</a></li>
                <li><a th:href="@{/admin/add-vehicle}">Add vehicle</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
<h1>Startsida</h1>

<a th:href="@{/orders/customer-id}">Login as user</a><br>
<a th:href="@{/}">Login as admin</a>

</body>
</html>