<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link th:href="@{~/css/basic.css}" rel="stylesheet">
    <link th:href="@{~/css/list-vehicles.css}" rel="stylesheet">
    <link th:href="@{~/css/menu.css}" rel="stylesheet">

</head>
<header class="container">
    <nav>
        <div class="mainMenu">
            <ul>
                <li><a th:href="@{/admin}">Home</a></li>
                <li><a th:href="@{/admin/customers}">Customers</a></li>
                <li><a th:href="@{/admin/vehicles}">Vehicles</a></li>
                <li><a th:href="@{/admin/add-vehicle}">Add vehicle</a></li>
                <li><a th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<body>
    <h1>Vehicles</h1>
    <div class="box" >
        <table id="vehicleTable">
            <thead id="vehicleTableHead">
                <th>ID</th>
                <th>Name</th>
                <th>Model</th>
                <th>Rental fee</th>
                <th>Edit</th>
            </thead>
            <tr th:each="vehicle:${vehicles}">
                <td th:text="${vehicle.getVehicleId()}"/>
                <td th:text="${vehicle.getName()}"/>
                <td th:text="${vehicle.getModel()}"/>
                <td th:text="${vehicle.getRentalFee()}"/>
                <td>
                    <a th:href="@{/admin/vehicle/vehicle-id(vehicleId=${vehicle.getVehicleId()})}" class="updateLink">Update</a>
                    <a th:href="@{/delete-vehicle(vehicleId=${vehicle.getVehicleId()})}" class="deleteLink">Delete</a>
                </td>
            </tr>
        </table>
        <form th:action="@{/}">
            <button class="returnBtn" type="submit">Go home</button>
        </form>
    </div>
</body>
</html>