<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
    <meta charset="UTF-8">
    <title>Bookings</title>
    <link th:href="@{~/css/basic.css}" rel="stylesheet">
    <link th:href="@{~/css/list-booking.css}" rel="stylesheet">
</head>
<body>
    <h1>List booking</h1>
    <div class="box">
        <table id="bookingTable">
            <thead id="bookingTableHead">
            <th>ID</th>
            <th>Customer</th>
            <th>Vehicle</th>
            <th>Date</th>
            <th>Edit</th>
            </thead>
            <tr th:each="booking:${bookings}" th:with="customerId=${booking.getCustomerId()}, vehicleId=${booking.getVehicleId()}">
                <td th:text="${booking.getBookingId()}"/>
                <td th:text="${customers.get(booking.getCustomerId()).getName()}"/>
                <td th:text="${vehicles.get(booking.getVehicleId()).getName()}"/>
                <td th:text="${booking.getDate()}"/>
                <td>
                    <a th:href="@{/update/booking-id(bookingId=${booking.getBookingId()})}" class="updateLink">Update</a>
                    <a th:href="@{/delete-booking(bookingId=${booking.getBookingId()})}" class="deleteLink">Delete</a>
                </td>
            </tr>
        </table>
        <form th:action="@{/}" method="get">
            <button class="returnBtn" type="submit">Go home</button>
        </form>
    </div>
</body>
</html>